__pycache__/
*.pyc
.venv/
.ipynb_checkpoints/
*.pt
*.onnx
*.engine
*.zip
.DS_Store
.DS_Store
notebooks/runs/detect/inferencias_video/
pyproject.toml
meu_dataset/
datasets/
*.mp4
*.avi
videos_teste/
notebooks/runs/